* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html {
  font-size: 62.5%;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}
.logo {
  width: 95vw;
  margin: auto;
  height: 10rem;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo a img {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}
.center {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.center h1 {
  font-size: 6.5rem;
  letter-spacing: 0.2rem;
}
.memberDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.memberDiv .btn,
.icon {
  height: 12vh;
  min-height: 9.4rem;
  max-height: 20rem;
  width: 9vw;
  min-width: 9.4rem;
  max-width: 20rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-top: 3rem;
  margin-right: 2.5rem;
  position: relative;
  cursor: pointer;
  background-color: #292828;
  background-image: url("./images/logo192.png");
  background-size: 100% 100%;
}
.memberDiv .btn:hover {
  box-shadow: inset 0 0 0 0.2rem rgba(255, 255, 255, 0.9);
}
.memberDiv .btn span,
.icon span {
  width: inherit;
  position: absolute;
  bottom: -3rem;
  left: 0;
  text-transform: capitalize;
  color: rgb(153, 153, 153);
  font-size: 1.8rem;
}
.icon {
  background-image: none;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.fa-plus-circle {
  font-size: 5vw;
  color: grey;
  opacity: 0.8;
}
.icon:hover {
  background-color: #fff;
}
.icon:hover > .fa-plus-circle {
  opacity: 1;
}
.manage {
  border: 1px solid grey;
  color: grey;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  margin-top: 10rem;
  background-color: transparent;
  cursor: pointer;
}
.manage:hover {
  color: #fff;
  border: 1px solid #fff;
}
