* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.counter {
  color: #f6f6f6;
  display: grid;
  place-items: center;
}
.counter span {
  color: rgb(167, 177, 187);
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
  margin-top: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.counter .count {
  font-family: monospace;
  margin-top: 2rem;
  color: orange;
  font-size: 8rem;
}
